@media  screen and (max-width: 1024px){
	.nav__logo-texto{
		color: black;
		transition: 1s;
	}

	.info__div{
		flex-direction: column;
	}

	.marcas__logos{
		grid-auto-rows: 220px;
	}
}

@media  screen and (max-width: 870px) {
	.nav__ul{
		display: none;
	}

	.nav{
		height: 37px;
		width: 100%;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		height: 37px;
		margin-top: 37px;
		padding-top: 27px;
		text-align: center;
	}

	.nav__li-container{
		position: relative;
		top: -1000px;
		height: calc(35vh);
		width: 100%;
		background: #696969;
		transition: all 1s;
		z-index: -1;
		padding-top: 27px;
	}

	.nav__responsive-li{
		width: 100%;
		padding: 9px 20px;
	}

	.nav__responsive-li i{
		width: 30px;
		text-align: center;
		color: white;
	}

	.nav__responsive-li a{
		color: white;
		text-decoration: none;
		transition: 1s;
	}

	.nav__responsive-li:hover > a{
		color: yellow;
		transition: 1s;
	}

	.nav__responsive-ul:hover > .nav__li-container{
		top: -27px;
	}

	.articulos__fotos{
		grid-auto-rows: 255px;
	}

	.articulos__audio{
		grid-auto-rows: 255px;
	}

	.marcas__logos{
		grid-auto-rows: 180px;
	}
}

@media  screen and (max-width: 768px){
	.banner{
		text-align: center;
	}

	.articulos__titulo-2{
		text-align: center;
	}

	.articulos__fotos{
		grid-template-columns: 1fr;
		grid-auto-rows: 120px;
		grid-gap: 10px;
	}

	.articulos__audio{
		grid-template-columns: 1fr;
		grid-auto-rows: 270px;
		grid-gap: 10px;
	}

	.marcas__logos{
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 160px;
	}
}

@media screen and (max-width: 425px){
	.marcas__logos{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 375px){
	.marcas__logos{
		width: 60%;
		grid-template-columns: 1fr;
		grid-auto-rows: 160px;
	}
}